<h3>{{ qx.name }} Questionnaire</h3>

<mat-tab-group>
    <mat-tab *ngFor="let section of qx.sections">
        <ng-template mat-tab-label>{{ section.name }}</ng-template>

        <qx-questionnaire-section
            [section]="section" />
    </mat-tab>
</mat-tab-group>

<p>
    <button mat-button color="primary" (click)="collect()">Next</button>
</p>

<h3>Questionnair api contract</h3>
<button mat-button color="primary" (click)="displayPayload()">
    Show API payload
</button>
<div>
    {{ payload | json }}
</div>
