<h3>{{ qx.name }} Questionnaire</h3>

<mat-tab-group>
    <mat-tab *ngFor="let group of qx.groups">
        <ng-template mat-tab-label>{{ group.name }}</ng-template>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="noToAll"
                >No to all</mat-checkbox
            >
        </section>

        <div *ngFor="let q of group.questions">
            <qx-question
                [question]="q"
                [setNo]="noToAll"
                [collectAnswers]="collectAnswers"
            ></qx-question>
        </div>
    </mat-tab>
</mat-tab-group>

<p>
    <button mat-button color="primary" (click)="collect()">Next</button>
</p>

<h3>Questionnair api contract</h3>
<button mat-button color="primary" (click)="displayPayload()">
    Show API payload
</button>
<div>
    {{ payload | json }}
</div>
