@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/cyan-orange';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
