.question-card {
    margin: 20px 10px;
    max-width: 650px;
    height: max-content;
}

.config-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.config-item-margin {
    margin: 0 10px;
}
