:host {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 2px solid #999;
}

.details {
  display: flex;
  align-items: center;
}

:host img {
  width: 125px;
  margin-right: 25px;
}

.price {
  font-size: 25px;
  border-left: 2px solid #aaa;
  padding-left: 10px;
  text-align: center;
  min-width: 190px;
}

.price p {
  margin: 0;
}

.price button {
  padding: 10px;
  width: 100px;
  display: block;
  margin: 10px auto;
}

.discount {
  margin-top: -15px;
  color: #d25ca1;
}

.strikethrough {
  text-decoration: line-through;
  font-size: 18px;
}