.content {
    display: inline-flex;
}

.positive {
    background-color: green($color: #000000);
}

.negative {
    background-color: red($color: #000000);
}

.mat-slide-toggle.mat-disabled {
    opacity: 1 !important;
}

.child {
    margin-top: 18px;
}

::ng-deep
    .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
    .mdc-switch__shadow {
    background-color: rgb(50, 170, 118);
}

::ng-deep
    .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
    .mdc-switch__track::after {
    background-color: rgb(113, 226, 147) !important;
}

// mat-slide-toggle.my-slide {
//     --mdc-switch-selected-handle-color: lightgreen;
//     --mdc-switch-selected-pressed-handle-color: lightgreen;
//     --mdc-switch-selected-pressed-state-layer-color: green;
//     --mdc-switch-selected-hover-state-layer-color: lightgreen;
//     --mdc-switch-selected-hover-handle-color: lightgreen;
//     --mdc-switch-selected-focus-state-layer-color: lightgreen;
//     --mdc-switch-selected-focus-handle-color: lightgreen;
//     --mdc-switch-selected-track-color: green;
//     --mdc-switch-selected-pressed-track-color: green;
//     --mdc-switch-selected-hover-track-color: green;
//     --mdc-switch-selected-focus-track-color: green;
// }
