<p>{{ getLabel() }}</p>

@if( question.type === 0){
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3">
        <qx-answer [collectAnswer]="collectAnswer" [question]="question" [operation]="operation"></qx-answer>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-slide-toggle [disabled]="true" [checked]="question.hasAnswer()" [labelPosition]="question.hasAnswer() ? 'after' : 'before'">
            <!-- <span *ngIf="question.hasAnswer()">Answered</span>
            <span *ngIf="!question.hasAnswer()">Need answer</span> -->
        </mat-slide-toggle>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="triggered" class="child">
    <qx-question class="child" [question]="question.children[0]!" [operation]="operation"></qx-question>
</div>
} @else if (question.type === 2) {
<div *ngFor="let child of question.children" class="child">
    <qx-question class="child" [question]="child" [operation]="operation"></qx-question>
</div>
<mat-error *ngIf="collectAnswer && this.question.answer.config.isRequired && !hasAnswer">Required</mat-error>
}
