.content {
    display: inline-flex;
}

.positive {
    background-color: green($color: #000000);
}

.negative {
    background-color: red($color: #000000);
}

.child {
    margin-top: 18px;
}

::ng-deep
    .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
    .mdc-switch__shadow {
    background-color: rgb(50, 170, 118);
}

::ng-deep
    .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
    .mdc-switch__track::after {
    background-color: rgb(113, 226, 147) !important;
}
