<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                [(ngModel)]="userSettings.name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Name"
            />
        </div>

        <div class="form-group">
            <div class="form-check">
                <input
                    [(ngModel)]="userSettings.emailOffers"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="emailOffers"
                    name="email"
                />
                <label class="form-check-label" for="emailOffers">
                    Email Special Offers
                </label>
            </div>
        </div>

        <h5>User Interface Style</h5>
        <div class="form-group">
            <div class="form-check">
                <input
                    [(ngModel)]="userSettings.interfaceStyle"
                    class="form-check-input"
                    type="radio"
                    name="interfaceStyle"
                    id="lightInterface"
                    value="light"
                    checked
                />
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>

            <div class="form-check">
                <input
                    [(ngModel)]="userSettings.interfaceStyle"
                    class="form-check-input"
                    type="radio"
                    name="interfaceStyle"
                    id="mediumInterface"
                    value="medium"
                />
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>

            <div class="form-check">
                <input
                    [(ngModel)]="userSettings.interfaceStyle"
                    class="form-check-input"
                    type="radio"
                    name="interfaceStyle"
                    id="darkInterface"
                    value="dark"
                />
                <label class="form-check-label" for="darkInterface">
                    Dark
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType"> Subscription Type </label>

            <select
                [(ngModel)]="userSettings.subscriptionType"
                class="form-select"
                id="subscriptionType"
                aria-label="subscription type"
                name="subscriptionType"
            >
                <option selected>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea
                [(ngModel)]="userSettings.notes"
                id="notes"
                name="notes"
                class="form-control"
                rows="3"
            ></textarea>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
                ngModel
                type="password"
                id="password"
                name="password"
                class="form-control"
            />
        </div>

        <button class="btn btn-primary">Send</button>
    </form>
</div>

<div>
    FORM:
    {{ form.value | json }}
</div>
